body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkgray;
}
.nav-link scrollto active{
    text-decoration: none;

}
a:active {
  color: yellow;
}